*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
    color: black;
    line-height: 2;
}

.btn{
    background: #672aca;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.back-img{
    background-image: url(./Media/Hero-bg.png);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    position: sticky;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #4b43ec;
}

/* .preview section */
.preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 60px 40px;
  flex-wrap: wrap;
  background: white;
}

.preview-left {
  max-width: 300px;
}

.preview-left h3{
    margin-bottom: 20px;
}

.preview-left p{
    margin-bottom: 15px;
    color: #707070;
}

.preview-img {
  border-radius: 30px;
  max-width: 300px;
}

/* productive section */
.productive{
    background: #e2d4f5;
    text-align: center;
    padding: 10px 5px;
    border-radius: 10px;
    margin: 166px 301px 137px 283px;
}

.productive h3{
    margin-bottom: 30px;
}

.productive-boxes{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.productive-boxes h2{
    color: #672aca;
    
}

/* focus section */
.focus{
    text-align: center;
    background: #f8f5f5;
    padding: 60px 20px;
}

.focus p{
    margin-bottom: 20px;
    color: #555454;
}

.focus img{
    max-width: 90%;
    margin-top: 20px;
    border-radius: 12px;
}

